.card {
  border: 1px solid black;
  border-radius: 8px;
  background-color: #EEEEEE;
  padding: 20px;
}

ul {
  font-family: "Abril Regular", serif;
}

.notes {
  font-family: "Abril Regular Italic", serif;
}
