<div class="card">
  <h1>
    {{recipe.name}}
  </h1>
  <div class="ingredients">
    Ingredients
    <ul>
      <li *ngFor="let ingredient of recipe.ingredients">
        {{getlowestfraction(ingredient.amount)}} {{ ingredient.amount === 1 ? ingredient.measuringUnit : unitPluralMap.get(ingredient.measuringUnit) }} {{ ingredient.edibleSubstance.name}}
      </li>
    </ul>
  </div>
  <div class="notes">
    {{recipe.notes}}
  </div>
  <div class="steps">
    Steps
    <ul>
      <li *ngFor="let step of recipe.steps">
        {{step}}
      </li>
    </ul>
  </div>
</div>
