<!-- Toolbar -->
<div class="body">
  <div class="toolbar" role="banner">
    <img
      width="45"
      alt="JH Logo"
      src="assets/images/logo-white.png"
    />
    <span class="title">Recipe Store</span>
    <div class="navigation-items">
      <div class="nav-item add">
        Add Recipe
      </div>
      <div class="nav-item">
        Your Ingredients
      </div>
      <div class="nav-item">
        Your Measuring Units
      </div>
      <div class="nav-item">
        Your Categories
      </div>
      <div class="nav-item">
        Your Tags
      </div>
    </div>
  </div>

  <div class="content">
    <app-recipe-list></app-recipe-list>
  </div>
</div>
