/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: "Abril Fatface";
  src: local("Oxygen"), url(./assets/fonts/abril/AbrilFatface-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Abril Regular";
  src: local("Oxygen"), url(./assets/fonts/abril/AbrilDisplay-Regular.otf) format("opentype");
}

@font-face {
  font-family: "Abril Regular Italic";
  src: local("Oxygen"), url(./assets/fonts/abril/AbrilDisplay-Italic.otf) format("opentype");
}

body {
  margin: 0;
  font-family: "Abril Regular", serif;
}


